<launch>
<arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="1.0" />
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0.0" />
<arg name="model" default="$(find new_spirit_mars)/urdf/new_spirit_mars_dscrp.xacro" />
<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model new_spirit_mars_rover -param robot_description"
    output="screen" />
  <!--node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" /-->
</launch>
   <!-- args="-file $(find new_spirit_mars)/urdf/new_spirit_mars_dscrp.xacro -urdf -model new_spirit_mars_rover -param robot_description"-->
